* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #060910;
}

main p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25rem;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    letter-spacing: 20px;
    color: #274e6f;
}

.focus {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: background;
    background: radial-gradient(circle at 0px 0px, transparent, rgb(6 9 16 / 90%) 35%);
}
